.controls-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.primary-search-bar {
    width: 220px;
}

.column-toggle-dropdown input[type="date"],
.column-toggle-dropdown input[type="time"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
